
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Stockjockey</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="icon" type="image/png" href="{% static 'FormExample/images/icons/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'FormExample/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'FormExample/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'FormExample/css/mdb.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'FormExample/css/mdb.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'FormExample/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'FormExample/css/style.min.css' %}">
</head>
<body>
	<table class="table">

		<!--Table head-->
		<thead class="mdb-color darken-3">
			<tr class="text-white">
				<th>Sport</th>
				<th>Contest</th>
				<th>Style</th>
				<th>Entry Fee</th>
				<th>Total Prizes</th>
				<th>Entries</th>
				<th>Live</th>
				<th></th>
			</tr>
		</thead>
		<!--Table head-->
	
		<!--Table body-->
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Larry</td>
				<td>the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
		<!--Table body-->
	
	</table>
</body>
</html>